.container {
    background-color: #799a9c;
    width: 50%;
    height: 70%;
    overflow-y: scroll;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container * {
    margin-top: 10px;
}
