.container {
    background-color: #5a999c;
    width: 50%;
    height: 70%;
    overflow-y: scroll;
    align-self: center;

    -webkit-overflow-scrolling: touch;
}

.container * {
    margin-top: 10px;
}
